<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WebChat Vue</title>
      <link rel="stylesheet" href="/style/style.css">
   </head>
   <body>

      <h1>WebChat with Vue.js</h1>

      <div id="app">
          
         <div v-if="state == 0">
            <h2>Olá, digite seu nome de usuário: </h2>
            <form @submit.prevent="setaNomeUsuario">
               <input type="text" placeholder="Seu usuário" v-model:value="usuario">
               <input type="submit" value="Entrar">
            </form>
            <button @click="continuarSemUsuario">Entrar como convidado</button>
         </div>

         <div v-if="state == 1">
            <ul id="chatbox">
               <li v-for="mensagem in mensagens">
                  <b>{{ mensagem.usuario }}:</b> {{ mensagem.mensagem }}
               </li>
            </ul>
            <form @submit.prevent="enviarMensagem">
               <input type="text" placeholder="Digite sua mensagem aqui!" v-model:value="mensagem" />
               <input type="submit" value="Enviar"/>
            </form>
         </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
         var socket = null;
         var app = new Vue({
                el: '#app',
                data: {
                mensagem: '',
                mensagens: [],
                usuario: '',
                state: 0
            },
            methods: {
                enviarMensagem: function () {
                socket.emit('mensagem', this.mensagem);
                this.mensagem = '';
            },
            setaNomeUsuario: function() {
                socket.emit('join', this.usuario);
                this.usuario = '';
                this.state = 1;
            },
            continuarSemUsuario: function () {
                socket.emit('join', null);
                this.state = 1;
            }
            },
            created: function () {
                socket = io();
            }, 
            mounted: function () {
                socket.on('mensagem', function (mensagem){ //amontoando mensagens
                    app.mensagens.push(mensagem)
                    app.$nextTick(function () {
                        var messageBox = document.getElementById('chatbox');
                        messageBox.scrollTop = messageBox.scrollHeight;
                    })
                })
            }
        }); 
      </script>
   </body>
</html>